[tool.mypy]
plugins = ["pydantic.mypy"]
mypy_path = "./"
files = ["src"]
disallow_untyped_defs = true
no_implicit_optional = true
check_untyped_defs = true
warn_unused_ignores = true
ignore_missing_imports = true
show_error_codes = true

[tool.isort]
add_imports = ["from __future__ import annotations"]
force_single_line = true
profile = "black"
